h1 {
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #eea;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4C4FAF;
  color: white;
}

img {
  width: 80px;
  height: 80px;
  object-fit: scale-down;
}

a,
a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s;
}

.btnBlueGreen {
  background: #00AE68;
}

.btnLightBlue {
  background: #5DC8CD;
}

.btnOrange {
  background: #FFAA40;
}

.btnPurple {
  background: #A74982;
}

.btnFade.btnBlueGreen:hover {
  background: #21825B;
}

.btnFade.btnLightBlue:hover {
  background: #01939A;
}

.btnFade.btnOrange:hover {
  background: #FF8E00;
}

.btnFade.btnPurple:hover {
  background: #6D184B;
}

.container {
  padding-top: 1em;
  margin-top: 1em;
  border-top:
    solid 1px #CCC;
}